/* common styles */
body{
    font-family: 'Lato', sans-serif;
}
 .primary-button {
     width: 100%;
     height: 100%; 
     padding-left: 43px; 
     padding-right: 43px; 
     padding-top: 20px; 
     padding-bottom: 20px;
     background: #E55473;
     border-radius: 8px; 
     display: inline;

     
     
  }
  .primary-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

 .container{
    max-width: 1440px;
    margin: auto;
 }
 /* header part start from here */
#head {
   background: rgba(229, 84, 115, 0.10);
}
 .head-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }
 .head-para p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
 }
 .head{
    background: rgba(229, 84, 115, 0.10);
    max-height: 850px;
 }
 .head-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.head-img{
    padding-left: 97px;
    padding-top: 50px;
    max-height: 800px;
 }
 /* header part end here */

  /* feature part start from here */
.feat-head{
   padding-top: 180px;
   
}
.feat-head h3{
   color: #272727;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   text-align: center;
}
.feat-head p{
   color: rgba(39, 39, 39, 0.60);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   padding: 0 663PX 0 663px;
}
 .feat-image{
   display: flex;
   justify-content: space-between;
   padding-bottom: 150px;
 }
 .featimg-container1{
   border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15);
   height: 520px;
   width: 450px;
 }
 .feat-part1{
   padding:90px 75px 0 76px;
 }

 .featimg-container1 p{
   color: #272727;
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   text-decoration-line: underline;
   padding-bottom: 128px;
 }
 .featimg-container2{
   border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
   height: 520px;
   width: 450px;
 }
 .feat-part2{
   padding:48px 75px 0 76px;
 }

 .featimg-container2 p{
   color: #272727;
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   text-decoration-line: underline;
   padding-bottom: 128px;
 }
 .featimg-container3{
   border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
   height: 520px;
   width: 450px;
 }
 .feat-part3{
   padding:115px 47px 51px 45px;
 }

 .featimg-container3 p{
   color: #272727;
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   text-decoration-line: underline;
   padding-bottom: 128px;
 }
 /* feature part end here */

/* support part start from here */
 #support{
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);
 }
 .supp-con{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 86px 175px 86px 175px;
 }
 .supp-part img{
   padding-left: 160px;
   

 }
 .supp-part p{
   color: rgba(39, 39, 39, 0.80);
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
 }
 .para{
   padding-left: 110px;
 }

/* support part end here */

/* offer part start from here */
#offer{
   height: 620px;
   margin-top: 128px;
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);
}
.offer-part{
   display: flex;
   justify-content: space-around;
}
.offer-text{
   text-align: center;
   width: 50%;
}
.offer-text span{
   color: #E55473;
}
.offer-text h3{
   padding-top: 230px;
   color: #272727;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
}
.offer-text p{
   padding: 0PX 0px 32px 0;
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
}
.offer-img{
   padding: 120px 50px;
}
/* offer part end here */

/* inta part add here */


.insta-text{
   text-align: center;
}
.insta-text h3{
   color: #272727;
   text-align: center;
   font-family: Lato;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}
.insta-text p{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   padding: 20px 400px 40px 400px;
}
.ins-img img{
   padding: 0 6px;
   margin-bottom: 120px;
}
.deal-part{
   background-image: url('../Flower Asset/Rectangle\ 9.png');
   text-align: center;
   height: 450px;
   
}
.deal-text{
   padding: 45px 0 48px 0;

}
.deal-text h3{
   color: #272727;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
}
.deal-text p{
   color: rgba(39, 39, 39, 0.60);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
}
.deal-input{
   display: inline;
   padding-bottom: 120px;
}
.deal-input input{
   padding-left: 22px;
   width: 650px;
   height: 55px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF
}

/* inta part end here */

/* footer part start here */
footer{
   background: #111010;
   height: 449px;
   margin-top: 125px;
}
.footer-text{
   text-align: center;
   padding: 125px 650px 0 650px;
}
.footer-text h3{
   color: #E55473;
   font-family: Lato;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}
.footer-text span{
   color: #FFF;
   font-family: Lato;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}
.foot-para{
   color: rgba(255, 255, 255, 0.90);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   padding-top: 24px;
   padding-bottom: 30px;
}
.copyright{
   color: rgba(255, 255, 255, 0.40);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
}

/* footer part end here */














